@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-mobile-height: 80px;
  --products-mobile-sort-bar: 45px;
}

@layer components {
  .hide-scroll::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scroll {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .triangle-up {
    position: absolute;
    top: -30px;
    right: 10px;
    border-width: 20px 30px;
    border-color: transparent transparent white transparent;
    cursor: pointer;
  }

  .stickyBuyCart {
    @apply shadow-[0px_-6px_4px_0px] shadow-black/10;
  }

  .header-notify-animation {
    @apply animate-[headerNotify_0.3s] will-change-[opacity,_scale];
  }

  .fade-in-animation {
    @apply animate-[fadeIn_0.2s] ease-linear will-change-[opacity];
  }

  /* Responsive design here ↓*/
  .gridLayout {
    @apply max-w-[1200px] t-and-pc:max-w-[984px]  m-and-t:max-w-[644px]  mx-auto;
  }

  .row-12px {
    @apply flex flex-wrap -mx-3 small-mobile:mx-0;
  }

  .col-12px {
    @apply px-3 small-mobile:px-0;
  }

  .row-5px {
    @apply flex flex-wrap -mx-[5px] small-mobile:mx-0;
  }

  .col-5px {
    @apply px-[5px]  small-mobile:px-0;
  }

  .fixed-top-all-width {
    top: 0;
    right: 0;
    left: 0;
  }

  .fixed-all-width {
    right: 0;
    left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes headerNotify {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes ModalAnimate {
  from {
    opacity: 0.5;
    scale: (0.3);
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
